*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.carousel-item{
    width: 100%;
    height: 85vh;
}

/* .services .row>*{
    padding-right: 0;
    padding-left: 0;
} */

.services img{
    width:100%;
    height: 100%;
}

.offer_style{
    background-color: #a6dcef;
}

footer p{
    margin-bottom: 0;
}
/* responsive css */

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */